Código utilizado en el video:<br>
https://youtu.be/ifbxtkvBPJU

# 1- Ciclo For

In [ ]:
postres = ['torta','helado','panqueque']
for postre in postres:
  print(postre)

torta
helado
panqueque

In [ ]:
for letra in 'postres':
  print(letra)

p
o
s
t
r
e
s

In [ ]:
ciudades = ('Amsterdam','Londres','Rio de Janeiro')
for ciudad in ciudades:
  print(ciudad)

Amsterdam
Londres
Rio de Janeiro

## Sentencia Break

In [ ]:
postres = ['torta','helado','panqueque','Tiramisú','Bizcocho', 'Mousse']
for postre in postres:
  if postre == 'Tiramisú':
    break
  print(postre)

torta
helado
panqueque

## Sentencia Continue

In [ ]:
postres = ['torta','helado','panqueque','Tiramisú','Bizcocho']
for postre in postres:
  if postre == 'Tiramisú':
    continue
  print(postre)

torta
helado
panqueque
Bizcocho

## Range()

In [ ]:
for veces in range(7):
  print(veces)

0
1
2
3
4
5
6

# 2- Ciclo While

In [ ]:
variable = 1
while variable < 8:
  print(variable)
  variable += 1

1
2
3
4
5
6
7

In [ ]:
factorial_a_calcular = 6
factorial = 1
while factorial_a_calcular > 0:
    factorial = factorial * factorial_a_calcular
    factorial_a_calcular = factorial_a_calcular - 1
print(factorial)

720