Código utilizado en el video:<br>
https://youtu.be/dKCA6DiudlE

# Comprensión de Listas

In [ ]:
capitales = ['londres','madrid','roma','montevideo']
capitales_mayus = [capital.upper() for capital in capitales]
print(capitales_mayus)

['LONDRES', 'MADRID', 'ROMA', 'MONTEVIDEO']

In [ ]:
capitales_mayus = []
for capital in capitales:
    capitales_mayus.append(capital.upper())
print(capitales_mayus)

['LONDRES', 'MADRID', 'ROMA', 'MONTEVIDEO']

In [ ]:
capitales = [capital.upper() for capital in capitales]
print(capitales)

['LONDRES', 'MADRID', 'ROMA', 'MONTEVIDEO']

### Pares vs Impares

In [ ]:
valores = [13,14,25,8,4,11,38,1,3,17,21,6,5,18]

son_pares = [valor for valor in valores if valor % 2 ==0]

son_impares = [valor for valor in valores if valor % 2 !=0]

print(son_pares)
print(son_impares)

[14, 8, 4, 38, 6, 18]
[13, 25, 11, 1, 3, 17, 21, 5]

### Centígrados vs Fahrenheit

In [ ]:
temperatura_C = [33,30,34,32,28,29,33]
temperatura_F = [ ((float(9)/5)*x + 32) for x in temperatura_C ]
print(temperatura_F)

[91.4, 86.0, 93.2, 89.6, 82.4, 84.2, 91.4]

### Empresas y sus símbolos

In [ ]:
empresas = ['Microsoft','Amazon','Netflix','Disney']
symbols = ['MSFT','AMZN','NFLX','DIS' ]
empresas_symbol = [ 
                    empresa
                    for empresa in zip(empresas, symbols)                    
                  ]
print(empresas_symbol)

[('Microsoft', 'MSFT'), ('Amazon', 'AMZN'), ('Netflix', 'NFLX'), ('Disney', 'DIS')]