Código utilizado en el video:<br>
https://youtu.be/xoCwqux1dsY

# Lambda (Funciones Anónimas)

***lambda argumentos: expresión***

In [ ]:
def triplicar_numero(argumento):
  return argumento*3

print(triplicar_numero(1))
print(triplicar_numero(3))
print(triplicar_numero(5))
print(triplicar_numero(7))

3
9
15
21

In [ ]:
triplicar = lambda x: x*3
print(triplicar(1))
print(triplicar(3))
print(triplicar(5))
print(triplicar(7))

3
9
15
21

In [ ]:
suma = lambda a,b,c,d,e,f: a+b+c+d+e+f

print(suma(1,2,3,4,5,6))
print(suma(3,3,3,0,1,1))
print(suma(-1,2,-3,4,-2,3))
print(suma(7,-6,3,4,5,-3))

21
11
3
10

In [ ]:
multiplo = lambda x,y: x%y == 0

print(multiplo(25,5))
print(multiplo(21,3))
print(multiplo(14,3))
print(multiplo(12,4))
print(multiplo(12,5))

True
True
False
True
False

## Mandar una Función como Parámetro

In [ ]:
def aplicar_funcion(argumento1,argumento2,fn):
    return fn(argumento1,argumento2)

valor1 = aplicar_funcion(1,2, lambda x1,x2: x1+x2)
print(valor1)

valor2 = aplicar_funcion(1,2, lambda x1,x2: x1/x2)
print(valor2)

valor3 = aplicar_funcion(1,2, lambda x1,x2: x1*x2)
print(valor3)

3
0.5
2

In [ ]:
def aplicar_funcion(lista_valores, fn):
    for valor in lista_valores:
        if fn(valor):
            print(valor)

valores = [13,14,25,8,4,11,38,1,3,17,21,6,5,18]
print("Los valores pares son:")
aplicar_funcion(valores, lambda x: x%2==0)
print("Los valores impares son:")
aplicar_funcion(valores, lambda x: x%2!=0)

Los valores pares son:
14
8
4
38
6
18
Los valores impares son:
13
25
11
1
3
17
21
5

## Función map()

In [ ]:
lista_valores = [13,14,25,8,4,11,38,1,3,17,21,6,5,18]
triplicar = list(map(lambda x : x*3, lista_valores))
print(triplicar)

[39, 42, 75, 24, 12, 33, 114, 3, 9, 51, 63, 18, 15, 54]

## Función filter()

In [ ]:
valores1 = [3,12,13,14,25,8,4,11,38,33,1,3,17,21,6,5,18]
multiplos_3 = list(map(lambda x : x % 3 == 0, valores1))
print(multiplos_3)

[True, True, False, False, False, False, False, False, False, True, False, True, False, True, True, False, True]

In [ ]:
valores1 = [3,12,13,14,25,8,4,11,38,33,1,3,17,21,6,5,18]
multiplos_3 = list(filter(lambda x : x % 3 == 0, valores1))
print(multiplos_3)

[3, 12, 33, 3, 21, 6, 18]